# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Oliver\Documents\3sem\flow2\week2\2020-10-02\JavaScript, DOM, AJAX, CORS and SVG\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
